<div class="messages">
  <div class="messages-contact">
    <div class="messages-contact-avatar avatar--wrapper">
      <div class="messages-contact-avatar-img avatar">
        <img class="avatar-img" [src]="user.avatarurl" alt="Avatar" />
        <span class="status" [ngStyle]="{ 'background-color': 'green' }">
          <svg
            width="20"
            aria-hidden="true"
            focusable="false"
            data-prefix="fas"
            data-icon="check"
            class="svg-inline--fa fa-check fa-w-16"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
          >
            <path
              fill="white"
              d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
            ></path>
          </svg>
        </span>
      </div>
    </div>
    <div>
      <h1 class="messages-contact-name">{{ user.name }}</h1>
    </div>
  </div>

  <div class="messages-dialog" #messagesDialogScroll>
    <div
      class="dialog"
      *ngFor="let dialog of dialog"
      [ngStyle]="{
        'justify-content': dialog.isoutput == true ? 'flex-end' : 'flex-start'
      }"
    >
      <div
        class="dialog-avatar avatar--wrapper"
        *ngIf="!dialog.isoutput == true"
      >
        <div class="dialog-avatar-img avatar">
          <img class="avatar-img" [src]="user.avatarurl" alt="Avatar" />
        </div>
      </div>
      <div
        class="dialog-text"
        [ngStyle]="{
          'align-items': dialog.isoutput == true ? 'flex-end' : 'flex-start'
        }"
      >
        <p
          [ngClass]="{
            out: dialog.isoutput == true,
            in: !dialog.isoutput == true
          }"
        >
          {{ dialog.value }}
        </p>
        <small class="dialog-date">{{ dialog.date | date: "short" }}</small>
      </div>
    </div>
  </div>
  <div class="messages-form">
    <form (ngSubmit)="submit()" [formGroup]="form">
      <input
        type="text"
        placeholder="Type your message"
        formControlName="message"
      />
      <button type="submit" [disabled]="form.invalid">
        <svg
          width="24"
          aria-hidden="true"
          focusable="false"
          data-prefix="fab"
          data-icon="telegram-plane"
          class="svg-inline--fa fa-telegram-plane fa-w-14"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 448 512"
        >
          <path
            fill="currentColor"
            d="M446.7 98.6l-67.6 318.8c-5.1 22.5-18.4 28.1-37.3 17.5l-103-75.9-49.7 47.8c-5.5 5.5-10.1 10.1-20.7 10.1l7.4-104.9 190.9-172.5c8.3-7.4-1.8-11.5-12.9-4.1L117.8 284 16.2 252.2c-22.1-6.9-22.5-22.1 4.6-32.7L418.2 66.4c18.4-6.9 34.5 4.1 28.5 32.2z"
          ></path>
        </svg>
      </button>
    </form>
  </div>
</div>
