<div class="messages">
  <div class="messages-contact">
    <div class="messages-contact-avatar--wrapper">
      <div class="messages-contact-avatar">
        <img
          class="messages-contact-avatar-img"
          [src]="user.avatarUrl"
          alt="Avatar"
        />
        <span
          class="messages-contact-status"
          [ngClass]="{
            'messages-contact-status-online': user.status === 'online',
            'messages-contact-status-offline': user.status !== 'online'
          }"
        >
        </span>
      </div>
    </div>
    <div>
      <h1 class="messages-contact-name">{{ user.name }}</h1>
    </div>
  </div>

  <div class="messages-dialog" #messagesDialogScroll>
    <div
      *ngFor="let dialog of dialog"
      class="dialog"
      [ngClass]="{
        'dialog-in': !dialog.isOutput,
        'dialog-out': dialog.isOutput
      }"
    >
      <div class="dialog-avatar--wrapper" *ngIf="!dialog.isOutput == true">
        <div class="dialog-avatar">
          <img class="dialog-avatar-img" [src]="user.avatarUrl" alt="Avatar" />
        </div>
      </div>
      <div
        class="dialog-text"
        [ngClass]="{
          'dialog-text-in': !dialog.isOutput,
          'dialog-text-out': dialog.isOutput
        }"
      >
        <p
          [ngClass]="{
            out: dialog.isOutput == true,
            in: !dialog.isOutput == true
          }"
        >
          {{ dialog.value }}
        </p>
        <small class="dialog-date">{{ dialog.date | date: "short" }}</small>
      </div>
    </div>
  </div>
  <div class="messages-form">
    <form (ngSubmit)="submit()" [formGroup]="form">
      <input
        type="text"
        placeholder="Type your message"
        formControlName="message"
      />
      <button type="submit" [disabled]="form.invalid">
        <img src="../../../assets/img/svg/send.svg" alt="button" />
      </button>
    </form>
  </div>
</div>
